@import 'tailwindcss';

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}
